<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
      <property name = "hibernate.dialect">
         org.hibernate.dialect.MySQLDialect
      </property>

	<property name="hibernate.show_sql">true</property>
      
      <property name = "hibernate.connection.driver_class">
         com.mysql.cj.jdbc.Driver
      </property>
      
      <!-- Assume test is the database name -->
      
      <property name = "hibernate.connection.url">
         jdbc:mysql://serwer1847553.home.pl/29209262_bd2?autoReconnect=true
      </property>
      
      <!-- TODO username and password in ENV -->

      <property name = "hibernate.connection.username">
         29209262_bd2
      </property>
      
      <property name = "hibernate.connection.password">
         1234
      </property>
      
      <mapping class="pl.moviebook.dbEntities.Artist"/>
      <mapping class="pl.moviebook.dbEntities.User"/>
      <mapping class="pl.moviebook.dbEntities.Cinema"/>
      <mapping class="pl.moviebook.dbEntities.Movie"/>
      <mapping class="pl.moviebook.dbEntities.Genre"/>
      <mapping class="pl.moviebook.dbEntities.Prize"/>
      <mapping class="pl.moviebook.dbEntities.Review"/>
      <mapping class="pl.moviebook.dbEntities.TvProgram"/>
      <mapping class="pl.moviebook.dbEntities.Rating"/>
      <mapping class="pl.moviebook.dbEntities.Movie_has_Genre"/>
      <mapping class="pl.moviebook.dbEntities.ToWatch"/>
      <mapping class="pl.moviebook.dbEntities.Issue"/>
      <mapping class="pl.moviebook.dbEntities.Like"/>
      <mapping class="pl.moviebook.dbEntities.Station"/>
      <mapping class="pl.moviebook.dbEntities.Show"/>
      <mapping class="pl.moviebook.dbEntities.Movie_has_Artist"/>
      <mapping class="pl.moviebook.dbEntities.Artist_has_ArtistType"/>
      

   </session-factory>
</hibernate-configuration>
